@{
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}
<div id="left-body" class="pull-left">
    <h2>Let's chat with friends</h2>
    <img src="~/Images/chat_img.jpg" />
</div>
<div id="right-body" class="pull-right">
    <ul id="userlist" class="pull-right">
        <li>Ram</li>
        <li>Sham</li>
        <li>Sita</li>
        <li>Chanchal</li>
        <li>Pardeep</li>
    </ul>
</div>
<div>
    <div id="chatbox_George1" class="chatbox" style="bottom: 0px; right: 300px; display: block;"><div class="chatboxhead chatboxblink"><div class="chatboxtitle">George Whitney</div><div class="chatboxoptions"><a href="javascript:void(0)" onclick="javascript:toggleChatBoxGrowth('George1')">-</a> <a href="javascript:void(0)" onclick="javascript:closeChatBox('George1')">X</a></div><br clear="all"></div><div class="chatboxwrapper"><div class="chatboxcontent"><div class="chatboxmessage"><span class="chatboxmessagefrom">George Whitney:&nbsp;&nbsp;</span><span class="chatboxmessagecontent">hi</span></div></div></div><div class="chatboxinput"><textarea class="chatboxtextarea" onkeydown="javascript:return checkChatBoxInputKey(event,this,'George1','George Whitney');"></textarea></div></div>
</div>