@{
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}
<div id="left-body" class="pull-left">
    <h2>Let's chat with friends</h2>
    <img src="~/Images/chat_img.jpg" />
</div>
<div id="right-body" class="pull-right">
    <div id="message-area" class="pull-left">
        <ul id="message-list">
            <li><b>Chanchal:</b> Hello</li>
            <li><b>Chanchal:</b> Hi</li>
        </ul>
        <div>
            <textarea style="width:100%;"></textarea>
        </div>
    </div>
    <ul id="userlist" class="pull-right">
        <li>Ram</li>
        <li>Sham</li>
        <li>Sita</li>
        <li>Chanchal</li>
        <li>Pardeep</li>
    </ul>
</div>
